@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*字体库：Poppins字体*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background: #B22222;
	color: #fff;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 10%;
	background: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.logo {
	font-size: 25px;
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	cursor: default;
	opacity: 0;
	animation: slideRight 1s ease forwards;
}

.navbar a {
	display: inline-block;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	margin-left: 35px;
	opacity: 0;
	transition: 0.3s;
	animation: slideTop 1s ease forwards;
	animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
	color: #FFDEAD;
}

.home {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 70px 10% 0;
}

.home-content {
	max-width: 600px;
}

.home-content h3 {
	font-size: 32px;
	font-weight: 700;
	opacity: 0;
	animation: slideTop 1s ease forwards;
	animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
	margin-bottom: 30px;
}

.home-content h3 span {
	color: #FFDEAD;
}

.home-content h1 {
	font-size: 56px;
	font-weight: 700;
	margin: -3px 0;
	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: 1s;
}

.home-content p {
	font-size: 16px;
	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: 0.7s;
}

.home-player {
	width: 500px;
}

.home-img img {
	max-width: 400px;
	border-radius: 50%;
	margin-right: -20px;
	box-shadow: 0 0 20px #FFDEAD;
	opacity: 0;
	animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
	animation-delay: 2s, 3s;
	user-select: none;
}

.player {
	width: 400px;
	height: 80px;
	background: #FFDEAD;
	position: relative;
	overflow: hidden;
	border-radius: 40px;
	text-decoration: none;
	box-shadow: 0 0 30px #FFDEAD;
	transition: all 0.5s ease-in-out;
	opacity: 0;
	animation: zoomIn 1s ease forwards;
	animation-delay: 2s, 3s;
}

.player .info {
	width: 100%;
	height: 90px;
	position: absolute;
	bottom: 0;
	transform: translateY(35px);
	transition: all .5s ease-in-out;
}

.player:hover .info {
	transform: translateY(-45px);
}

.info .progress {
	height: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}

.info .progress #start,
.info .progress #end {
	color: #1f242d;
	margin: 0 144px;
	margin-left: 132px;
}

.info .progress #bar {
	position: fixed;
	display: flex;
	justify-content: flex-start;
	width: 260px;
	height: 8px;
	border-radius: 4px;
	background-color: rgb(234, 236, 238);
}

.info .progress #overlay {
	width: 0px;
	height: 8px;
	border-radius: 4px;
	background-color: #FF3030;
	box-shadow: 0 0 30px #FF3030;
}

.info .song-detail {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.info .song-detail span {
	color: #1f242d;
	margin: 4px 0;
	height: 12px;
	user-select: none;
}

.info .song-detail #title {
	font-size: 16px;
	font-weight: 900;
	letter-spacing: 2px;
}

.info .song-detail #author {
	letter-spacing: 1px;
}

.info .controls {
	margin-top: 35px;
	padding: 0 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info .controls .play {
	margin: 0 16px;
	user-select: none;

}

.info .controls span {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: transparent;
	border: 2px solid #B22222;
	border-radius: 50%;
	color: #B22222;
	font-size: 20px;
	text-decoration: none;
	transition: 0.5s ease;
	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: calc(0.2s * var(--i));
}


.info .controls .play span {
	margin: 0 2px;
	font-size: 28px;
}

.info .controls span:hover {
	background: #B22222;
	color: #FFDEAD;
	box-shadow: 0 0 30px #B22222;
}

.social-media {
	user-select: none;
}

.social-media a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: transparent;
	border: 2px solid #FFDEAD;
	border-radius: 50%;
	color: #FFDEAD;
	font-size: 20px;
	text-decoration: none;
	margin: 25px 15px 30px 0;
	transition: 0.5s ease;
	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: calc(0.2s * var(--i));
}

.social-media a:hover {
	background: #FFDEAD;
	color: #B22222;
	box-shadow: 0 0 20px #FFDEAD;
}

.sidebar {
	position: fixed;
	top: 50%;
	right: -300px;
	/* 初始状态隐藏，可以根据需要调整侧边栏的宽度 */
	width: 200px;
	height: 300px;
	/* 将高度设置为400px */
	background: #FFDEAD;
	display: flex;
	align-items: center;
	justify-content: center;

	transform: translateY(-50%);
	/* 使用transform进行垂直居中 */
	transition: right 0.3s ease;
	overflow-y: auto;
	z-index: 9999;
	/* 确保侧边栏显示在其他内容之上 */
	border-radius: 20px;
	text-decoration: none;
	box-shadow: 0 0 30px #FFDEAD;
}

.sidebar.open {
	right: 0;
	/* 展开状态 */
}

.list-container {
	height: 260px;
	width: 160px;
	background: #B22222;
	display: flex;
	flex-direction: column;
	/* 从上到下垂直排列 */
	border-radius: 15px;
	box-shadow: 0 0 30px #B22222;
}

.listtitle {
	margin: 20px 0 0 10px;
}

.listtitle #bold {
	font-size: 22px;
	font-weight: 900;
}

.listtitle #num {
	font-weight: 900;
}

.list-container #sidebarList {
	margin-top: 20px;
	width: 160px;
	list-style-type: none;
	padding: 0;
}


.list-container ul li {
	font-size: 14px;
	height: 35px;
	padding: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

.list-container ul li:hover {
	background: #FFDEAD;
	color: #B22222;
	box-shadow: 0 0 20px #FFDEAD;
}

/* 动画 */

@keyframes slideRight {
	0% {
		transform: translateX(-100px);
	}

	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes slideLeft {
	0% {
		transform: translateX(100px);
	}

	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes slideTop {
	0% {
		transform: translateY(100px);
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes slideBottom {
	0% {
		transform: translateY(-100px);
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes zoomIn {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes floatImage {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-24px);
	}

	100% {
		transform: translateY(0);
	}
}